<nb-layout>

  <nb-layout-header fixed>
    <nb-card status="success">
      <nb-card-header accent="danger">{{title}}</nb-card-header>
    </nb-card>

    <nb-card style="text-align: center">
      <nb-card-body>
        <nb-user size="large" name="Share Knowledge" title="5th Cycle" color="#cccccc">
        </nb-user>
      </nb-card-body>
    </nb-card>
  </nb-layout-header>

  <nb-sidebar>
    <H5 align=center>Technologies</H5>

    <nb-list>
      <nb-list-item *ngFor="let user of users">
        <nb-user size="giant" [name]="user.name" [title]="user.title" [picture]="user.picture">
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>

  <nb-layout-column>
    <nb-card status="success" size="tiny">
      <nb-card-header style="text-align: center">Light</nb-card-header>
      <nb-card-body>
        <nb-toggle checked={{actuatorState}} status="success" (checkedChange)="control($event)"></nb-toggle>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-column>
    <nb-card status="primary">
      <nb-card-header style="text-align: center">Sensors</nb-card-header>
      <nb-card-body>
        <canvas [id]="charId"></canvas>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer>
    Edson Añawaya Rios - edsonrios9@gmail.com
  </nb-layout-footer>

</nb-layout>