<nb-layout>

  <nb-layout-header fixed>{{title}}</nb-layout-header>

  <nb-sidebar>
    <nb-list>
      <nb-list-item *ngFor="let user of users">
        <nb-user [name]="user.name" [title]="user.title">
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>

  <nb-layout-column>
    <nb-card status="success">

      <nb-card-header>Light</nb-card-header>
      <nb-card-body>
          <!-- <nb-icon class="nb-lightbulb" icon="star" [options]="{ animation: { type: 'zoom' } }"></nb-icon> -->
          <!-- <nb-toggle [(ngModel)]="toggleNgModel">Toggle with NgModel</nb-toggle> -->
          <nb-toggle status="success" checked={{OnOff}} (click)="control()"></nb-toggle>
          <nb-toggle  (click)="control2()"></nb-toggle>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-column>
    Page Content
  </nb-layout-column>

  <nb-layout-footer>
    footer
  </nb-layout-footer>

</nb-layout>